<div class="login">
  <div class="text-center loginhead">
      <h2>Login</h2>
   </div>
  <form [formGroup]="formgroup">
      <div class="row">

          <div class="col-sm-12 mb-3 mat-radio-group" >
              <mat-radio-group (change)="getrole($event)" formControlName="type">
                  <mat-radio-button value="students" [checked]=""  class="w-25" color="warn">student</mat-radio-button>
                  <mat-radio-button value="doctor" [checked]=""  class="w-25" color="warn">doctor</mat-radio-button>
              </mat-radio-group>
          </div>
          <div class="col-md-6 col-sm-12 child">
              <mat-form-field appearance="outline" color="warn">
                  <mat-label>email</mat-label>
                  <input matInput type="email"  formControlName="email">
              </mat-form-field>
          </div>

          <div class="col-md-6 col-sm-12 child"> 
              <mat-form-field appearance="outline" color="warn">
                  <mat-label>password</mat-label>
                  <input matInput type="password"  formControlName="password">
              </mat-form-field>
          </div>
      </div>
      <div class="text-right loginfoot">
          
          <button mat-raised-button color="warn"  (click)="submit()">login</button>
          <a routerLink="/register" class="primary" color="primary">create account ?</a>
      </div>
   </form>
</div>
  