<div class="student">
  <div class="container">
    <form class="d-flex" [formGroup]="formgroup" (ngSubmit)="submit()">
      <input class="form-control me-2" type="search" formControlName="name" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <table class="table mt-3">
      <thead class="text-center">
        <tr>
          <th scope="col">Number</th>
          <th scope="col">Student Name</th>
          <th scope="col">Subject</th>
          <th scope="col">Degree</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" *ngFor="let item of datatable | paginate: { itemsPerPage: limit, currentPage: page }; let i = index">
          <th scope="row">{{ (page - 1) * limit + i + 1 }}</th>
          <td>{{ item.student }}</td>
          <td>{{ item.subject }}</td>
          <td>{{ item.degree }}</td>
        </tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="changepage($event)"></pagination-controls>
  </div>
</div>
